# Pandas Practise for CogniTv
## Series
## -It is a one dimensional labelled array of any data type.
## -The axis Lables are collectively calledas indexes.

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [5]:
s2=pd.Series([3,4,5,6,7,8,9,334,88,44,8])  #List
s2

0       3
1       4
2       5
3       6
4       7
5       8
6       9
7     334
8      88
9      44
10      8
dtype: int64

In [6]:
len(s2)

11

In [7]:
type(s2)

pandas.core.series.Series

In [8]:
s2.shape

(11,)

In [9]:
s2.size

11

In [10]:
s3=pd.Series((34,55,76432,555,2,4,5,7,8,32,6))       # BY SET
s3

0        34
1        55
2     76432
3       555
4         2
5         4
6         5
7         7
8         8
9        32
10        6
dtype: int64

In [12]:
s4=pd.Series({'a':45,'b':56,'c':89,'d':'hello'})  #Dictionary
s4

a       45
b       56
c       89
d    hello
dtype: object

In [13]:
s5=pd.Series(np.array([4,5,6,7,8,9]))            #By array
s5

0    4
1    5
2    6
3    7
4    8
5    9
dtype: int32

In [14]:
s6=pd.Series([[123,456,789],[456,789,123],34,'hello'])        # By Nested List
s6

0    [123, 456, 789]
1    [456, 789, 123]
2                 34
3              hello
dtype: object

In [15]:
s7=pd.Series([34,45,56,77,88,66],index=list('asdfhj'))
s7

a    34
s    45
d    56
f    77
h    88
j    66
dtype: int64

In [16]:
s7[2]

56

In [17]:
s7['d']

56

In [18]:
s7[2:5]

d    56
f    77
h    88
dtype: int64

In [19]:
list('asxnuuehfukjssdfdg')

['a',
 's',
 'x',
 'n',
 'u',
 'u',
 'e',
 'h',
 'f',
 'u',
 'k',
 'j',
 's',
 's',
 'd',
 'f',
 'd',
 'g']

In [20]:
s7.value_counts()           # Calculate number of times a value is repeated

34    1
45    1
56    1
77    1
88    1
66    1
Name: count, dtype: int64

In [21]:
s7.sort_values()

a    34
s    45
d    56
j    66
f    77
h    88
dtype: int64

In [22]:
s7.max()

88

In [23]:
s7.min()

34

In [24]:
s7.idxmax()

'h'

In [25]:
s7.idxmin()

'a'

# DATAFRAME

In [26]:
df=pd.DataFrame()

In [27]:
df

Empty DataFrame
Columns: []
Index: []

In [28]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [29]:
type(df)

pandas.core.frame.DataFrame

In [30]:
len(df)

0

In [31]:
df1=pd.DataFrame([2,3,4,5,6,7,8])     #List
df1

   0
0  2
1  3
2  4
3  5
4  6
5  7
6  8

In [32]:
df2=pd.DataFrame([[4,44],[3,33],[2,22],[1,11]])     # Nested List
df2

   0   1
0  4  44
1  3  33
2  2  22
3  1  11

In [34]:
df3=pd.DataFrame({'a':[1],'b':[2],'c':[3],'d':[4]})   #Dictionary
df3

   a  b  c  d
0  1  2  3  4

In [35]:
df4=pd.DataFrame({'a':[1,2,3,4,5],'b':[2,4,5,6,7],'c':[3,3,3,3,3],'d':[4,5,5,5,5]})   #Dictionary
df4

   a  b  c  d
0  1  2  3  4
1  2  4  3  5
2  3  5  3  5
3  4  6  3  5
4  5  7  3  5

In [36]:
df5=pd.DataFrame([[3,45],[4,43],[5,56],[6,67],[7,72]], columns=['values','parameter'],index=list('asdfg')) 
df5

   values  parameter
a       3         45
s       4         43
d       5         56
f       6         67
g       7         72

In [38]:
print(df5['values'])
type(df5['values'])

a    3
s    4
d    5
f    6
g    7
Name: values, dtype: int64

pandas.core.series.Series

In [39]:
df5.loc['a']

values        3
parameter    45
Name: a, dtype: int64

In [40]:
df2[0]

0    4
1    3
2    2
3    1
Name: 0, dtype: int64

In [41]:
df2.loc[0]

0     4
1    44
Name: 0, dtype: int64

# Logical Indexing

In [42]:
df5

   values  parameter
a       3         45
s       4         43
d       5         56
f       6         67
g       7         72

In [43]:
df5['parameter'][[True,False,True,False,False]]

a    45
d    56
Name: parameter, dtype: int64

In [44]:
df5['parameter']>50

a    False
s    False
d     True
f     True
g     True
Name: parameter, dtype: bool

In [46]:
df5[df5['parameter']>50]

   values  parameter
d       5         56
f       6         67
g       7         72

In [47]:
df5[df5['parameter']>5]

   values  parameter
a       3         45
s       4         43
d       5         56
f       6         67
g       7         72

In [48]:
df5[df5['values']>5]

   values  parameter
f       6         67
g       7         72

In [75]:
df5['values']>5

a    False
s    False
d    False
f     True
g     True
Name: values, dtype: bool